<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<!-- ignore warning message from swagger -->
	<logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<file>logs/output.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>logs/output-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 10MB, keep 60 days worth of history, but at most 2GB -->
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<appender name="FILEERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<file>logs/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>logs/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 10MB, keep 60 days worth of history, but at most 2GB -->
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<springProperty name="spring.datasource.driverClassName" source="spring.datasource.driver-class-name"/>
	<springProperty name="spring.datasource.url" source="spring.datasource.url"/>
	<springProperty name="spring.datasource.username" source="spring.datasource.username"/>
	<springProperty name="spring.datasource.password" source="spring.datasource.password"/>

	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>${spring.datasource.driverClassName}</driverClass>
			<url>${spring.datasource.url}</url>
			<user>${spring.datasource.username}</user>
			<password>${spring.datasource.password}</password>
		</connectionSource>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILEOUT" />
		<appender-ref ref="FILEERR" />
		<appender-ref ref="DB" />
	</root>

</configuration>